code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 500; /* Основной текст с весом 500 */
}
